---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostList from "../components/BlogPostList.astro";

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<ul>
		{allPosts.map((post: any) => <BlogPostList url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>